# Ignore everything in assets directory except .gitignore
assets/!.gitignore

# Ignore everything in notes directory except .gitignore
notes/!.gitignore

# Ignore everything in photos directory except .gitignore and user.png
photos/!.gitignore
photos/!user.png

# Ignore everything in runtime directory except .gitignore
protected/runtime/!.gitignore

# Ignore testing and local configuration file
protected/config/test.php
protected/config/local.php

# Ignore code coverage report directory except .gitignore
protected/test/report/!.gitignore

# For Mac OSX
.DS_Store
protected/.DS_Store

# Ignore log file
*.log
flexpaper/php/config/config.ini.nix.example.php
flexpaper/php/config/config.ini.win.example.php
