# Ignore everything in assets directory except .gitignore
assets/!.gitignore

# Ignore everything in notes directory except .gitignore
notes/!.gitignore

# Ignore everything in photos directory except .gitignore and user.png
photos/!.gitignore
photos/!user.png

# Ignore everything in runtime directory except .gitignore
protected/runtime/!.gitignore

# Ignore testing and local configuration file
protected/config/test.php
protected/config/local.php

# Ignore code coverage report directory except .gitignore
protected/test/report/!.gitignore

# For Mac OSX
.DS_Store
protected/.DS_Store

# Ignore log file
*.log
protected/tests/data/PEAR/package.dtd
protected/tests/data/PEAR/template.spec
protected/tests/data/Structures_Graph/LICENSE
protected/tests/docs/Archive_Tar/docs/Archive_Tar.txt
protected/tests/docs/PEAR/INSTALL
protected/tests/docs/PEAR/LICENSE
protected/tests/docs/PEAR/README
protected/tests/docs/Structures_Graph/docs/generate.sh
protected/tests/docs/Structures_Graph/docs/html/Structures_Graph/Structures_Graph.html
protected/tests/docs/Structures_Graph/docs/html/Structures_Graph/Structures_Graph_Manipulator_AcyclicTest.html
protected/tests/docs/Structures_Graph/docs/html/Structures_Graph/Structures_Graph_Manipulator_TopologicalSorter.html
protected/tests/docs/Structures_Graph/docs/html/Structures_Graph/Structures_Graph_Node.html
protected/tests/docs/Structures_Graph/docs/html/Structures_Graph/_Structures_Graph_Manipulator_AcyclicTest_php.html
protected/tests/docs/Structures_Graph/docs/html/Structures_Graph/_Structures_Graph_Manipulator_TopologicalSorter_php.html
protected/tests/docs/Structures_Graph/docs/html/Structures_Graph/_Structures_Graph_Node_php.html
protected/tests/docs/Structures_Graph/docs/html/Structures_Graph/_Structures_Graph_php.html
protected/tests/docs/Structures_Graph/docs/html/Structures_Graph/tutorial_Structures_Graph.pkg.html
protected/tests/docs/Structures_Graph/docs/html/classtrees_Structures_Graph.html
protected/tests/docs/Structures_Graph/docs/html/elementindex.html
protected/tests/docs/Structures_Graph/docs/html/elementindex_Structures_Graph.html
protected/tests/docs/Structures_Graph/docs/html/errors.html
protected/tests/docs/Structures_Graph/docs/html/index.html
protected/tests/docs/Structures_Graph/docs/html/li_Structures_Graph.html
protected/tests/docs/Structures_Graph/docs/html/media/banner.css
protected/tests/docs/Structures_Graph/docs/html/media/stylesheet.css
protected/tests/docs/Structures_Graph/docs/html/packages.html
protected/tests/docs/Structures_Graph/docs/html/todolist.html
protected/tests/docs/Structures_Graph/docs/tutorials/Structures_Graph/Structures_Graph.pkg
protected/tests/docs/XML_Util/examples/example.php
protected/tests/docs/XML_Util/examples/example2.php
protected/tests/go-pear.phar
protected/tests/pear.bat
protected/tests/pear.ini
protected/tests/pear/.channels/.alias/pear.txt
protected/tests/pear/.channels/.alias/pecl.txt
protected/tests/pear/.channels/.alias/phpdocs.txt
protected/tests/pear/.channels/__uri.reg
protected/tests/pear/.channels/doc.php.net.reg
protected/tests/pear/.channels/pear.php.net.reg
protected/tests/pear/.channels/pecl.php.net.reg
protected/tests/pear/.depdb
protected/tests/pear/.depdblock
protected/tests/pear/.filemap
protected/tests/pear/.lock
protected/tests/pear/.registry/archive_tar.reg
protected/tests/pear/.registry/console_getopt.reg
protected/tests/pear/.registry/pear.reg
protected/tests/pear/.registry/structures_graph.reg
protected/tests/pear/.registry/xml_util.reg
protected/tests/pear/Archive/Tar.php
protected/tests/pear/Console/Getopt.php
protected/tests/pear/OS/Guess.php
protected/tests/pear/PEAR.php
protected/tests/pear/PEAR/Autoloader.php
protected/tests/pear/PEAR/Builder.php
protected/tests/pear/PEAR/ChannelFile.php
protected/tests/pear/PEAR/ChannelFile/Parser.php
protected/tests/pear/PEAR/Command.php
protected/tests/pear/PEAR/Command/Auth.php
protected/tests/pear/PEAR/Command/Auth.xml
protected/tests/pear/PEAR/Command/Build.php
protected/tests/pear/PEAR/Command/Build.xml
protected/tests/pear/PEAR/Command/Channels.php
protected/tests/pear/PEAR/Command/Channels.xml
protected/tests/pear/PEAR/Command/Common.php
protected/tests/pear/PEAR/Command/Config.php
protected/tests/pear/PEAR/Command/Config.xml
protected/tests/pear/PEAR/Command/Install.php
protected/tests/pear/PEAR/Command/Install.xml
protected/tests/pear/PEAR/Command/Mirror.php
protected/tests/pear/PEAR/Command/Mirror.xml
protected/tests/pear/PEAR/Command/Package.php
protected/tests/pear/PEAR/Command/Package.xml
protected/tests/pear/PEAR/Command/Pickle.php
protected/tests/pear/PEAR/Command/Pickle.xml
protected/tests/pear/PEAR/Command/Registry.php
protected/tests/pear/PEAR/Command/Registry.xml
protected/tests/pear/PEAR/Command/Remote.php
protected/tests/pear/PEAR/Command/Remote.xml
protected/tests/pear/PEAR/Command/Test.php
protected/tests/pear/PEAR/Command/Test.xml
protected/tests/pear/PEAR/Common.php
protected/tests/pear/PEAR/Config.php
protected/tests/pear/PEAR/Dependency2.php
protected/tests/pear/PEAR/DependencyDB.php
protected/tests/pear/PEAR/Downloader.php
protected/tests/pear/PEAR/Downloader/Package.php
protected/tests/pear/PEAR/ErrorStack.php
protected/tests/pear/PEAR/Exception.php
protected/tests/pear/PEAR/FixPHP5PEARWarnings.php
protected/tests/pear/PEAR/Frontend.php
protected/tests/pear/PEAR/Frontend/CLI.php
protected/tests/pear/PEAR/Installer.php
protected/tests/pear/PEAR/Installer/Role.php
protected/tests/pear/PEAR/Installer/Role/Cfg.php
protected/tests/pear/PEAR/Installer/Role/Cfg.xml
protected/tests/pear/PEAR/Installer/Role/Common.php
protected/tests/pear/PEAR/Installer/Role/Data.php
protected/tests/pear/PEAR/Installer/Role/Data.xml
protected/tests/pear/PEAR/Installer/Role/Doc.php
protected/tests/pear/PEAR/Installer/Role/Doc.xml
protected/tests/pear/PEAR/Installer/Role/Ext.php
protected/tests/pear/PEAR/Installer/Role/Ext.xml
protected/tests/pear/PEAR/Installer/Role/Php.php
protected/tests/pear/PEAR/Installer/Role/Php.xml
protected/tests/pear/PEAR/Installer/Role/Script.php
protected/tests/pear/PEAR/Installer/Role/Script.xml
protected/tests/pear/PEAR/Installer/Role/Src.php
protected/tests/pear/PEAR/Installer/Role/Src.xml
protected/tests/pear/PEAR/Installer/Role/Test.php
protected/tests/pear/PEAR/Installer/Role/Test.xml
protected/tests/pear/PEAR/Installer/Role/Www.php
protected/tests/pear/PEAR/Installer/Role/Www.xml
protected/tests/pear/PEAR/PackageFile.php
protected/tests/pear/PEAR/PackageFile/Generator/v1.php
protected/tests/pear/PEAR/PackageFile/Generator/v2.php
protected/tests/pear/PEAR/PackageFile/Parser/v1.php
protected/tests/pear/PEAR/PackageFile/Parser/v2.php
protected/tests/pear/PEAR/PackageFile/v1.php
protected/tests/pear/PEAR/PackageFile/v2.php
protected/tests/pear/PEAR/PackageFile/v2/Validator.php
protected/tests/pear/PEAR/PackageFile/v2/rw.php
protected/tests/pear/PEAR/Packager.php
protected/tests/pear/PEAR/REST.php
protected/tests/pear/PEAR/REST/10.php
protected/tests/pear/PEAR/REST/11.php
protected/tests/pear/PEAR/REST/13.php
protected/tests/pear/PEAR/Registry.php
protected/tests/pear/PEAR/RunTest.php
protected/tests/pear/PEAR/Task/Common.php
protected/tests/pear/PEAR/Task/Postinstallscript.php
protected/tests/pear/PEAR/Task/Postinstallscript/rw.php
protected/tests/pear/PEAR/Task/Replace.php
protected/tests/pear/PEAR/Task/Replace/rw.php
protected/tests/pear/PEAR/Task/Unixeol.php
protected/tests/pear/PEAR/Task/Unixeol/rw.php
protected/tests/pear/PEAR/Task/Windowseol.php
protected/tests/pear/PEAR/Task/Windowseol/rw.php
protected/tests/pear/PEAR/Validate.php
protected/tests/pear/PEAR/Validator/PECL.php
protected/tests/pear/PEAR/XMLParser.php
protected/tests/pear/PEAR5.php
protected/tests/pear/Structures/Graph.php
protected/tests/pear/Structures/Graph/Manipulator/AcyclicTest.php
protected/tests/pear/Structures/Graph/Manipulator/TopologicalSorter.php
protected/tests/pear/Structures/Graph/Node.php
protected/tests/pear/System.php
protected/tests/pear/XML/Util.php
protected/tests/pear/pearcmd.php
protected/tests/pear/peclcmd.php
protected/tests/peardev.bat
protected/tests/pecl.bat
protected/tests/phpunit.phar
protected/tests/tests/Structures_Graph/tests/AllTests.php
protected/tests/tests/Structures_Graph/tests/testCase/BasicGraph.php
protected/tests/tests/XML_Util/tests/AllTests.php
protected/tests/tests/XML_Util/tests/testBasic_apiVersion.phpt
protected/tests/tests/XML_Util/tests/testBasic_attributesToString.phpt
protected/tests/tests/XML_Util/tests/testBasic_collapseEmptyTags.phpt
protected/tests/tests/XML_Util/tests/testBasic_createCDataSection.phpt
protected/tests/tests/XML_Util/tests/testBasic_createComment.phpt
protected/tests/tests/XML_Util/tests/testBasic_createEndElement.phpt
protected/tests/tests/XML_Util/tests/testBasic_createStartElement.phpt
protected/tests/tests/XML_Util/tests/testBasic_createTag.phpt
protected/tests/tests/XML_Util/tests/testBasic_createTagFromArray.phpt
protected/tests/tests/XML_Util/tests/testBasic_getDocTypeDeclaration.phpt
protected/tests/tests/XML_Util/tests/testBasic_getXmlDeclaration.phpt
protected/tests/tests/XML_Util/tests/testBasic_isValidName.phpt
protected/tests/tests/XML_Util/tests/testBasic_raiseError.phpt
protected/tests/tests/XML_Util/tests/testBasic_replaceEntities.phpt
protected/tests/tests/XML_Util/tests/testBasic_reverseEntities.phpt
protected/tests/tests/XML_Util/tests/testBasic_splitQualifiedName.phpt
protected/tests/tests/XML_Util/tests/testBug_4950.phpt
protected/tests/tests/XML_Util/tests/testBug_5392.phpt
